<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633441394711-rv931798uou2jhucq2o1mn612mpcsna9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633441394711-rv931798uou2jhucq2o1mn612mpcsna9</string>
	<key>API_KEY</key>
	<string>AIzaSyBlACNtPDa7buMlqH9XgPfVhqfg57zZqKg</string>
	<key>GCM_SENDER_ID</key>
	<string>633441394711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieBucket</string>
	<key>PROJECT_ID</key>
	<string>moviebucket-36327</string>
	<key>STORAGE_BUCKET</key>
	<string>moviebucket-36327.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633441394711:ios:85bec36d0d5b7296ab3c52</string>
</dict>
</plist>